@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em; //1em == 16px
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {

    width: 68%;
    margin-left: 16%;
    height: 100%;

    //background: rgb(236, 236, 236);
}