// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './my-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


:root{
    --main-color: #F24423;
    --secondary-color: #0066cc;
}

html, body {
    overflow-x: hidden;    
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

p, blockquote {
    font-size: .9em; //1em == 16px
    line-height: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    text-align: center;
    padding: 0em 1em;
}



