
header {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.logo { //the width of the logo won't change between desktop and mobile
    width: 80px;
    height: 75px;
    margin-top: 2%;
}   