<div class="container">

    <div class="login-box">
        <div class="headline-container">
          <h1>Log In</h1>
          <p class="grey-text">Need an account ? <a href="" routerLink='/signup'>Sign Up</a></p>
        </div>

        <form>
          <mat-form-field class="form-control">
              <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="form-control">
              <input matInput placeholder="Password" type="password" formControlName="password">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </form>

        <div class="submit-button-container">
          <div>
              <mat-checkbox formControlName="keepConnection">Keep me signed in</mat-checkbox>
          </div>
          
          <div class="submit-button-container">
              <button mat-raised-button type="submit" class="submit-button primary-color"> Log In </button>
          </div>
      </div>
    </div>

</div>