

.logo { //the width of the logo won't change between desktop and mobile
    width: 80px;
    height: 75px;
    margin-top: 2%;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 150%;
}

.illustration {
    width:40%;
}

h1, .subhead {
    position: relative; 
    z-index: 3;
}

.subhead {
    font-size: .8em;
    padding: 0 2em;
}

.red-container {
    width: 100%;
    background-color: #F24423;
    color: white;
    margin-top: 10%;
    padding: 7% 3%;
    font-size: .8em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.red-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #F24423;
    position: absolute;
    top: -39px;
    right: 20px;
    z-index: 1;
}

.red-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: -80px;
    right: 22px;
    z-index: 2;
}

.red-container ul {
    transform: skewY(2deg);
}

.red-container-subhead {
    padding-left: 5%;
    padding-right: 9%;
}

.light-grey-container {
    background: whitesmoke;
    margin-top: -8%;
    padding-top: 8%;
    padding-bottom: 6%;
}

.cta {
    display: block;
    font-weight: bold;
    width: 30%;
    margin-left: 32%;
    color: white;
    background: #F24423;
    margin-top: 5%;
    padding: 5%;
    border-radius: 25px;
    transition: 0.5s;
}

.cta:hover {
    // background: rgb(195, 52, 23);
    background: #A870FB;
}

.grey-container {
    color: white;
    background: rgb(77, 76, 76);
    margin-top: -2%;
    padding: 2%;
}

.footer-links li:nth-child(1) {
    display: inline;
    margin-right: 2%;
}

.footer-links li:nth-child(1) {
    display: inline;
    margin-left: 2%;
}


