<div class="container">
    <header>
        <a href="#">
            <img src="../../assets/images/sync.png" alt="sync logo" class="logo">
        </a>

        <nav>
            <img src="../../assets/images/ham.svg" alt="toggle menu" class="menu hide-desktop" id="menu"> 

            <ul class="show-desktop hide-mobile" id="nav"> 
                <li id="exit" class="exit-btn show-mobile hide-desktop">
                    <img src="../../assets/images/exit.svg" alt="exit button">
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Get Started</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="core-section-1">
            <img src="../../assets/images/mirage-romantic-relationships.png" alt="illustration" class="illustration">
            <div>
                <h1>The app that will bring you together</h1>
                <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem soluta, neque maiores magni accusamus ipsum quas. Voluptates deleniti modi porro ratione totam nobis cupiditate omnis rem, reiciendis quos nisi fugiat.</p>
            </div>
        </div>
        
        <div class="core-section-2">
            <div class="title-subhead">
                <h1>The app that will bring you together</h1>
                <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem soluta, neque maiores magni accusamus ipsum quas. Voluptates deleniti modi porro ratione totam nobis cupiditate omnis rem, reiciendis quos nisi fugiat.</p>
            </div>
            <img src="../../assets/images/mirage-romantic-relationships.png" alt="illustration" class="illustration">
        </div>
        

        <a href="#" class="cta"> Get Started </a>

        <img src="../../assets/images/scroll.svg" alt="scroll animation" class="scroll show-desktop hide-mobile">

    </section>
</div>


<div class="red-container">
    <div class="container">
        <ul>
            <li>
                <img src="../../assets/images/icon-1.svg" alt="icon1">
                <p class="red-container-subhead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur itaque incidunt, possimus ducimus vitae sunt necessitatibus culpa ipsum ex voluptates natus atque accusantium, sapiente aliquam eum? Aliquam et expedita omnis.</p>
            </li>
            <li>
                <img src="../../assets/images/icon-2.svg" alt="icon2">
                <p class="red-container-subhead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur itaque incidunt, possimus ducimus vitae sunt necessitatibus culpa ipsum ex voluptates natus atque accusantium, sapiente aliquam eum? Aliquam et expedita omnis.</p>
            </li>
            <li>
                <img src="../../assets/images/icon-3.svg" alt="icon3">
                <p class="red-container-subhead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur itaque incidunt, possimus ducimus vitae sunt necessitatibus culpa ipsum ex voluptates natus atque accusantium, sapiente aliquam eum? Aliquam et expedita omnis.</p>
            </li>
        </ul>
    </div>
</div>


<div class="light-grey-container">
    <div class="container">
        <a href="#" class="cta">Get Started</a>
    </div>
</div>



<div class="grey-container">
    <div class="container">
        <footer>
            <a href="#">
                <img src="../../assets/images/sync.png" alt="sync logo" class="logo">
            </a>

            <ul class="footer-links">
                <a href="#"><li>Terms of use</li></a>
                <a href="#"><li>Privacy Policy</li></a>
            </ul>
        </footer>
    </div>
</div>


