

.container {
    margin-top: 10%;
    display: flex;
}


.video-container {
    width: 70%;
    height: 500px;
}

.chat-container {
    background: rgb(194, 194, 255);
    width: 50%;
}

.headline-container {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;
}


.bold {
    font-weight: 500;
}

.message {
    color: yellow;
}

.message-element-self {
    text-align: right;
}

.message-element-other {
    text-align: left;
}

.message-element {
    color: black;
    background: rgb(240, 240, 240);
}

.submit-button:hover {
    background: #db003b;
}

.submit-button {
    width: 25%;
    height: 50px;
    font-size: 14pt;
    font-weight: 100;
    background: var(--main-color);
    color: white;
}