
.room-container {
    display: flex;
    background: rgb(245, 245, 245);
    padding: 0;
}

.headline {
    font-weight: bold;
    color: #bb0032;
}

.controls {
    background: rgb(220, 220, 220);
    padding: 1%;
    display: flex;
    justify-content: space-between;
}


.video-container {
    width: 70%;
    height: 400px;
}

.chat-container {
    background: rgb(245, 245, 245);
    text-align: center;
    // max-height: 500px;
}

.url-container {
    text-align: center;
    width: 30%;
    padding-top: 4%;
}


.headline-container {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.bold {
    font-weight: 500;
}


.fas {
    margin-top: 5px;
    margin-left: 5px;
}
.fas:hover {
    cursor: pointer;
    color: #bb0032;
}

//CHAT 
// .chat-form {

// }

// .input-chat-form {
//     width: 90%;
// }

.message-element-self {
    text-align: right;
}

.message-element-other {
    text-align: left;
}

.message-element {
    color: black;
    background: rgb(240, 240, 240);
}

.send-button:hover {
    background: #db003b;
}

.send-button {
    width: 100%;
    height: 50px;
    font-size: 14pt;
    font-weight: 100;
    background: var(--main-color);
    color: white;
}


.submit-button-container {
    margin-top: 10px;
    margin-right: 1%;
}

.submit-button:hover {
    background: #db003b;
}

.sync-button {
    background: var(--secondary-color);
}

.host-button {
    background: #44a1ff;
}

.sync-button:hover {
    background: #0053a7;
}

.host-button:hover {
    background: #178afd;
}


@media only screen and (max-width: 800px) {
    .room-container {
        display: inline;
    }

    .video-container {
        width: 100%;
    }

    .chat-container {
        width: 100%;
    }

    .url-container {
        width: 100%;
    }

}

@media only screen and (max-width: 1000px) {

    .controls {
        display: inline;
        background: inherit;
    }

    .send-button {
        height: 40px;
    }
}
