<app-header></app-header>

<div class=controls>
    <div class="controls-room controls-item">
        <span class="headline primary-color">RoomID</span>: {{ this.roomId }} <br>
        <span class="headline primary-color">Username</span>: {{ this.username }} <br>

        <i class="fas fa-sign-out-alt" [routerLink]="['/dashboard']"></i>

        <!-- <div class="submit-button-container">
            <button mat-raised-button type="submit" class="send-button" [routerLink]="['/dashboard']"> Leave the Room </button>  
        </div> -->
    </div>
    
    <div class="controls-player controls-item">
        <div *ngIf="playerState !== 1" class="submit-button-container">
            <button mat-raised-button class="send-button" (click)="playVideo()"> Play </button>
        </div>
        
        <div *ngIf="playerState === 1" class="submit-button-container">
            <button mat-raised-button class="send-button" (click)="pauseVideo()"> Pause </button>
        </div>
    </div>
    
    <div class="controls-sync controls-item">
        <div *ngIf="isHost === false" class="submit-button-container">
            <button mat-raised-button class="sync-button send-button" (click)="onSyncHost()"> Sync with Host </button>
        </div>
    
        <div *ngIf="isHost === false" class="submit-button-container">
            <button mat-raised-button class="host-button send-button" (click)="onBecomeHost()"> Become Host </button>
        </div>
    
        <div *ngIf="isHost === true" class="submit-button-container">
            <button mat-raised-button class="host-button send-button" disabled> You are the Host! </button>
        </div>
    </div>
</div>



<div class="room-container">
    <div class="video-container" id="player">
        <youtube-player
            [videoId]="videoId"
            (ready)="onReady($event)"
            (change)="onStateChange($event)"
            width="100%"
            height="100%"
        ></youtube-player>
        
    </div>


    <div class="url-container">
        <div class="headline-container">
            <h2>Change Video URL</h2>
        </div>
    
        <form [formGroup]="urlForm" autocomplete="off">
            <mat-form-field class="form-control">
                <input matInput placeholder="Video URL" formControlName="url"> 
            </mat-form-field>
        
            <div class="submit-button-container">
                <button mat-raised-button type="submit" class="send-button" (click)="onChangeUrl()"> Change Video URL </button>
            </div>
        </form>
    </div>

</div>



<div class="chat-container">
    <div class="headline-container">
        <h1>Chat</h1>
    </div>

    <div class="message-container" id="message-container">
    </div>

    <form [formGroup]="chatForm" autocomplete="off" class="chat-form">

        <mat-form-field class="form-control">
            <input matInput placeholder="Message" formControlName="message">
        </mat-form-field>
    
        <div class="submit-button-container">
            <button mat-raised-button type="submit" class="send-button chat-button" (click)="onSendChatMessage()"> Send </button>
        </div>
    
    </form>
</div>