

.logo { //the width of the logo won't change between desktop and mobile
    width: 80px;
    height: 75px;
    margin-top: 2%;
}

.bold {
    font-weight: bold;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 100%;
    cursor: pointer;
}

.illustration {
    width: 40%;
}

h1, .subhead {
    position: relative; 
    z-index: 3;
}

.subhead {
    font-size: .8em;
    padding: 0 2em;
}


.red-container .sofa-icon {
    width: 30%;
}

.red-container .youtube-icon {
    width: 25%;
}

.red-container .computer-icon {
    width: 25%;
}


.core-section-2 {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.red-container {
    width: 100%;
    background-color: #F24423;
    color: white;
    margin-top: 10%;
    padding: 2% 1%;
    font-size: 1em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.red-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #F24423;
    position: absolute;
    top: -39px;
    right: 7px;
    z-index: 1;
}

.red-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: -80px;
    right: 7px;
    z-index: 2;
}

.red-container ul, .red-container h1 {
    transform: skewY(2deg);
}

.red-container-subhead {
    padding-left: 5%;
    padding-right: 9%;
    font-size: 1.2em;
}

.light-grey-container {
    background: whitesmoke;
    margin-top: -8%;
    padding-top: 8%;
    padding-bottom: 6%;
}

.cta {
    display: block;
    font-weight: bold;
    width: 30%;
    margin: auto;
    // margin-left: 32%;
    color: white;
    background: #F24423;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3% 5%;
    border-radius: 25px;
    z-index: 5;
}

.cta:hover {
    background: var(--secondary-color);
    transition: 0.5s;
}

.grey-container {
    color: white;
    background: rgb(77, 76, 76);
    margin-top: -2%;
    padding: 2%;
}

.footer-links {
    font-size: 0.7em;
    color: white;
    display: flex;
    justify-content: space-evenly;
}


nav ul {
    position: fixed;
    width: 40%;
    top: 0;
    right: 0;
    text-align: left;
    background: #333;
    height: 100%;
    z-index: 10;
    padding-top: 1em;
}



nav ul a {
    color: white;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(58, 58, 58);
}


nav ul a:hover {
    background-color: #444;
    transition: .7s;
}

.exit-btn {
    margin-bottom: 1em;
    text-align: right;
    padding: 0 1.1em;
}

.exit-btn img {
    cursor: pointer;
}


@media only screen and (min-width: 650px) {
    .illustration {
        width: 35%;
    }
    
    h1 {
        font-size: 1.8em; 
    }

    .subhead {
        font-size: .9em;
        padding: 0 2em;
    }

    .cta {
        width: 25%;
    }

    .red-container {
        margin: 0;
    } 

    .red-container .sofa-icon {
        width: 25%;
    }
    
    .red-container .youtube-icon {
        width: 20%;
    }
    
    .red-container .computer-icon {
        width: 20%;
    }

}

@media only screen and (min-width: 800px) {
    .container {
        width: 80%;
        margin: auto;
    }

    h1 {
        font-size: 2.2em; 
    }

    .subhead {
        font-size: 1em;
        padding: 0 2em;
    }

    .red-container ul {
        display: flex;
        justify-content: space-between;
    }

    .red-container li {
        margin-left: 6%;
    }

    .red-container .sofa-icon {
        width: 48%;
    }
    
    .red-container .youtube-icon {
        width: 40%;
    }
    
    .red-container .computer-icon {
        width: 36%;
    }
}

@media only screen and (min-width: 1024px) {
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        padding: 1em 1.5em;
    }

    nav ul li a:nth-child(2) {
        background: red;
    }

    .container {
        width: 65%;
        margin: 1% auto 1% auto;
    }

    .core-section-2 {
        display: flex;
        margin-top: 7%;
    }

    .core-section-1 {
        display: none;
    }

    h1 {
        font-size: 1.8em; 
    }

    .subhead {
        font-size: 1em;
        padding: 0 2em;
    }

    .title-subhead {
        margin: auto;
    }

    .scroll {
        margin: auto;
        width: 30px;
        animation: move 1s infinite alternate;
        margin-bottom: 8%;
    }

    @keyframes move {
        0% {
            transform: translateY(0px)
        }
        100% {
            transform: translateY(30px)
        }
    }
}


@media only screen and (min-width: 1400px) {
    h1 {
        font-size: 2.5em; 
    }

    .subhead {
        font-size: 1.2em;
        padding: 0 2em;
    }

    .cta {
        width: 20%;
    }

    .logo { //the width of the logo won't change between desktop and mobile
        width: 90px;
        height: 85px;
    }
}

@media only screen and (min-width: 1600px) {
    h1 {
        font-size: 2.7em; 
    }

    .cta {
        width: 15%;
    }
}
