<div class="container">
    <header>
        <a href="#">
            <img src="../../../../assets/images/sync.png" alt="sync logo" class="logo">
        </a>

        <nav>
            <img src="../../../../assets/images/ham.svg" alt="toggle menu" class="menu hide-desktop" id="menu"> 

            <ul class="show-desktop hide-mobile" id="nav"> 
                <li id="exit" class="exit-btn show-mobile hide-desktop">
                    <img src="../../../../assets/images/exit.svg" alt="exit button">
                </li>
                <li><a href="#">About</a></li>
                <li><a [routerLink]="['/signup']">Sign Up</a></li>
                <li><a [routerLink]="['/login']">Login In</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="core-section-1">
            <img src="../../../../assets/images/mirage-romantic-relationships.png" alt="illustration" class="illustration">
            <div>
                <h1>The app that will bring you together</h1>
                <p class="subhead">Watch YouTube videos & Listen to music <b>synchronously</b> with your loved ones. Remove the distance and have a quality time!</p>
                <a [routerLink]="['/signup']" class="cta"> Get Started </a>
            </div>
        </div>
        
        <div class="core-section-2">
            <div class="title-subhead">
                <h1>The app that will bring you together</h1>
                <p class="subhead"><span class="bold">Watch</span> YouTube videos & <span class="bold">Listen</span> to music <b>synchronously</b> with your loved ones. Remove the distance and have a quality time! </p>
                <a [routerLink]="['/signup']" class="cta youtube-red-background"> Get Started </a>
            </div>
            <img src="../../../../assets/images/mirage-romantic-relationships.png" alt="illustration" class="illustration">
        </div>
        

        <!-- <a href="#" class="cta"> Get Started </a> -->

        <img src="../../../../assets/images/scroll.svg" alt="scroll animation" class="scroll show-desktop hide-mobile">

    </section>
</div>


<div class="red-container">
    <div class="container">
        <h1>How does it work ?</h1>
        <ul>
            <li>
                <img src="../../../../assets/images/sofa.svg" alt="icon1" class="sofa-icon">
                <h2>Create or Join a Room</h2>
                <p class="red-container-subhead">Create a room <span class="bold">or</span> Join a room using the ID that your friend have given you.</p>
            </li>
            <li>
                <img src="../../../../assets/images/youtube.svg" alt="icon2" class="youtube-icon">
                <h2>Choose a video from YouTube to display</h2>
                <p class="red-container-subhead">Copy <span class="bold">&</span> Paste a YouTube video's URL to the form to change the video displayed in the room.</p>
            </li>
            <li>
                <img src="../../../../assets/images/video.svg" alt="icon3" class="computer-icon">
                <h2>Enjoy watching it with your friends</h2>
                <p class="red-container-subhead">In case you are a <span class="bold">Host</span>, share your room ID so that people can join and synchronize their display with you!</p>
            </li>
        </ul>
    </div>
</div>


<div class="light-grey-container">
    <div class="container">
        <a [routerLink]="['/signup']" class="cta">Get Started</a>
    </div>
</div>



<div class="grey-container">
    <div class="container">
        <footer>
            <a href="#">
                <img src="../../../../assets/images/sync.png" alt="sync logo" class="logo">
            </a>

            <ul class="footer-links">
                <a href="#"><li>Terms of use</li></a>
                <a href="#"><li>Privacy Policy</li></a>
            </ul>
        </footer>
    </div>
</div>


